img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

img[width],
img[height] {
  max-width: none;
}

.hidden {
  display: none;
}

.box-shadow {
  box-shadow: 0 4px 16px rgba(12, 12, 13, 0.1);
  transition: box-shadow 0.25s ease-in-out;
}

.box-shadow:hover {
  box-shadow: 0 4px 16px rgba(12, 12, 13, 0.6);
}

.panel-section-header > .image-section-header {
  margin: 0 auto;
}

.panel-section-header.no-border-bottom {
  border-bottom: 0;
}

.panel-formElements-item--samewidth {
  justify-content: flex-end;
}

.panel-formElements-item--samewidth > label {
  flex: 1;
  text-align: left;
}

.panel-formElements-item--samewidth > input,
.panel-formElements-item--samewidth > select {
  flex: 2;
}

.browser-style.panel-formElements-item > textarea {
  width: 100%;
}
